@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", sans-serif;
    box-sizing: border-box;
}
html, body{
    font-family: "Lexend Deca", sans-serif;
    background: #7d7979;
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color:white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.450);
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
section#login div#imagem{
    display: block;
    background: #333 url(../public/imagem/Hand\ coding-amico.png) no-repeat;
    height: 200px;
    background-position: top bottom;
    background-size: cover;
}
section#login div#form{
    display: block;
    padding: 10px;
}
div#form h1{
    text-align: center;
    padding: 10px;
}
.preencher-dados{
    background-color: #333;
    border: 2px solid #333;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0;
}
.preencher-dados label{
    display: none;
}
.preencher-dados i{
    color: white;
    font-size:2em;
    width: 40px;
    padding: 5px;
}
.preencher-dados input{
    background-color: #617985;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: none;
    padding: 5px;
    transform: translateY(-10px);
    outline: none;
    border-radius: 5px;
    margin-bottom: 5px;
}
::placeholder{
    color: #333;
    font-size: 1em;
}
.preencher-dados input:focus-within{
    background-color: white;
    border: none;
}
form input[type="submit" ]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   transition: all .3s ease;
} 
form input[type="submit"]:hover{
    background-color:#263238;
}
form a.btn{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #333;
    color: white;
    border: 1px solid #263238;
    border-radius: 7px;
    text-decoration: none;
}
form a.btn:hover{
    background-color: #263238;
}
form a.btn:hover i{
    font-size: 1em;
}



